<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
{% include 'core.html'%}

</head>
<!-- skin-blue fixed sidebar-mini wysihtml5-supported control-sidebar-open -->
<body class="hold-transition skin-blue fixed sidebar-mini">
  
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>SE</b>z</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>SurE</b>Zh</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>




      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
<!--         <li>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Search">
            </div>
          </form>
          </li> -->
          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li><!-- start message -->
                    <a href="#">
                      <div class="pull-left">
                        <img src="../static/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Support Team
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <!-- end message -->
               
                </ul>

              </li>
            </ul>
          </li>

             <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-users"></i>
              <span class="label label-success">{{req_frnd_count}}</span>
            </a>{% if req_frnd_count %}
            <ul class="dropdown-menu">
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li><!-- start message -->
                    <a href="/profile/{{req_frnd[1]}}">
                      <div class="pull-left">
                        <img src="../static/img/uploads/Dp/{{req_frnd[8]}}" class="img-circle" alt="User Image">
                      </div>
                      <h4>{{req_frnd[1]}}
                        {{req_frnd[3]}}
                        
                        <small><i class="fa fa-clock-o"></i> time</small>
                      </h4>
                      <p>@{{req_frnd[1]}}</p>
                    </a>
                  </li>
                  <!-- end message -->
               
                </ul>
              </li>
            </ul>{% endif %}
          </li>
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                      page and may cause design problems
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-red"></i> 5 new members joined
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-user text-red"></i> You changed your username
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          <!-- Tasks: style can be found in dropdown.less -->

          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="../static/img/uploads/Dp/{{my_profile[8]}}" class="user-image" alt="User Image">
              <span class="hidden-xs">{{my_profile[4]}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="../static/img/uploads/Dp/{{my_profile[8]}}" class="img-circle" alt="User Image">

                <p>
                 {{my_profile[4]}}
                  <small>Member since Nov. 2012</small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="/lockscreen" class="btn btn-default btn-flat">Lock</a>
                </div>
                <div class="pull-right">
                  <a href="/logout" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../static/img/uploads/Dp/{{my_profile[8]}}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{my_profile[4]}}</p>
          <a href=""><i class="fa fa-circle text-success"></i>Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="/search" method="post" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>

      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
               <li>
          <a href="/profile/{{my_profile[0]}}"><i class="fa fa-user"></i><span>Profile</span></a>
      </li>
      <li>
          <a href="/profile_setting/{{my_profile[0]}}"><i class="fa fa-gears"></i><span>Settings and Privacy</span></a>
      </li>
         <li>
          <a href="/mail"><i class="fa fa-mail"></i><span>Inbox</span></a>
      </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</div>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
<div class="row">
 <div class="col-md-8">
  <form action="/upload_post" method="post" enctype="multipart/form-data"> 
          <div class="box box-primary">
            <!-- /.box-header -->
            <div class="box-body">{{my_profile[4]}} Timeline's
           <!--    {{my_profile}} -->
              <div class="form-group">
                    <textarea name="content" class="form-control" style="height: 80px"></textarea>
              </div>
              <div class="form-group">
                <div class="btn btn-default btn-file">
                  <i class="fa fa-paperclip"></i>  Attachement
                  <input type="file" name="attachment">
                </div>
                <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-envelope-o"></i> Post</button>
              </div>
            </div>

          </div>
          <!-- /. box -->
  </form>
 </div>

        </div>
  <!-- friend request view-->

<div class="row">

    {% for req_frnd in frnd_req_details %}
          <div class="col-md-4">
              <!-- {{req_frnd}} -->
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-black" style="background: url('../static/img/uploads/cover_picture/') center center;">
              <h3 class="widget-user-username">{{req_frnd[4]}}</h3>
              <h5 class="widget-user-desc">Web Designer</h5>
            </div>
            <a  href="/confirm/{{req_frnd[0]}}">
            <div class="widget-user-image">
              <img class="img-circle" src="../static/img/uploads/Dp/{{req_frnd[8]}}" alt="{{req_frnd[8]}}">
            </div>
            </a>
            <div class="box-footer">
              <div class="row">
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header">{{req_frnd[6]}}</h5>
                    <span class="description-text">D.O.B</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header">13,000</h5>
                    <span class="description-text">FOLLOWERS</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                  <div class="description-block">
                    <h5 class="description-header">35</h5>
                    <span class="description-text">PRODUCTS</span>

                  </div>
                  <!-- /.description-block -->
<!-- {{req_frnd}} -->
                </div>
               <center><a href="/confirm_request/{{req_frnd[0]}}"><button type="submit" class="btn btn-primary">Confirm Request</button></a> 
                <a href="/ignore_request/{{req_frnd[0]}}"><button type="submit" class="btn  btn-info btn-flat">Ignore Request</button></a></center>
              </div>
              <!-- /.row -->
            </div>

          </div>
          <!-- /.widget-user -->

        <!-- </form> -->
        </div>
         {% endfor %}
  
</div>



      <div class="row">


        <div class="col-md-8">
        
          <!-- Box Comment -->
          <!-- {{activity}} -->

          <div class="box box-widget">
                        {% for activity in activities %}
            <div class="box-header with-border ">
              <div class="user-block">
                {% for data in profile_pic %}
                  {% if data[0] == activity[1] %}
                <img class="img-circle" src="../static/img/uploads/Dp/{{data[1]}}" alt="{{data[1]}}">
                <span class="username"><a href="/profile/{{data[0]}}">{{data[2]}}</a></span>
                  {% endif %}
                {% endfor %}

                <span class="description">Shared within friend's -   {{activity[4]}}</span>
              </div>
              <!-- {{activity}} -->
            </div>

            <!-- /.box-header -->
            <div class="box-body">
              {{activity[2]}}
              {% if(activity[3]!="0")%}
              <center><img class="img-responsive pad" width="60%" height="30%" src="../static/img/uploads/activities/{{activity[3]}}" alt="{{activity[3]}}"></center>
              {% endif %}<hr>

            {%if activity[1] == my_profile[0]%}
              <a href="/delete_post/{{activity[0]}}">
                <button type="button" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove-sign"></i>remove</button></a>
              {% endif %}
              <a href="/like/{{activity[0]}}"><button type="button" class="btn btn-primary btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button></a>
              <a href="/view_likes/{{activity[0]}}">
              <span class="pull-right text-muted">{{activity[5]}} likes</span></a>
            </div>
            <!-- /.box-body -->
            <hr>
                  {%  endfor %} 

          </div>
          <!-- /.box -->
  
        </div>
        <!-- /.col -->
                 <div class="col-md-4">
          <!-- Block buttons -->
          <div class="box box-success">
            <center><div class="box-header">
              <h3 class="box-title">Online Friends</h3><hr>
            </div></center>
           {% if sessions %}
                {%for frnd in sessions%}
                   <div class="box-body">
  <a href="/profile/{{frnd[1]}}"><div class="user-block">
                <img class="img-circle" src="../static/img/uploads/Dp/{{frnd[3]}}" alt="{{frnd[2]}}">
                <span class="username">{{frnd[2]}}</span>
                <span class="description">{{frnd[4]}}</span>
              </div></a>
                         </div><hr>
                  {% endfor %}
           {% endif %}
           {% if not sessions %}
                <div class="box-body">None</div>
           {% endif %}

          </div>
        </div>


      </div>
      <!-- /.row -->






      <div class="row">
        <div class="col-xs-12">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Modal Examples</h3>
            </div>
            <div class="box-body">
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
                Launch Default Modal
              </button>
            </div>
          </div>
        </div>
      </div>
<div class="modal fade" id="modal-default">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Default Modal</h4>
              </div>
              <div class="modal-body">
             {% for x in data %}
            <b> {{x}}</b><br>
             {% endfor%}
                {% for y in likes %}
             {{y}}<br>
             {% endfor%}
                        
 
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
  </div>
        <!-- /.modal -->



    </section>
    <!-- /.content -->











  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0
    </div>
    <strong>Copyright &copy; 2017-2018 <a href="#">Suresh</a>.</strong> All rights
    reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-users"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">

          <li>
            <a href="#">
              <i class="menu-icon fa fa-user bg-yellow"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Profile</h4>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-user bg-yellow"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Profile</h4>
              </div>
            </a>
          </li>
          
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
         <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">

          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-user bg-yellow"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Profile</h4>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-user bg-yellow"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Profile</h4>
              </div>
            </a>
          </li>
          
        </ul>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

</body>
</html>
